{{ get_header() }}
<div class="container">
    {{ informea_the_breadcrumb() }}
    <h1>{{ the_title() }}</h1>

    @todo: Under work <a href="http://support.informea.org/issues/283" target="_blank">Issue #283</a>
    <table class="table">
        {% for row in countries %}
        <tr>
            <td>
                <img src="{{ i3_url('flag', row, 'medium') }}" />
            </td>
            <td>
                <a href="{{ i3_url('country', row) }}">{{ row.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div><!-- /container -->
{{ get_footer() }}