{{ get_header() }}
<div class="container">
    {{ informea_the_breadcrumb() }}
    <div class="country-header clearfix">
    	<div class="flag">
    		<img src="{{ i3_url('flag', country, 'large') }}">
    	</div>
    	<h1>{{ country.long_name }}</h1>
    	<p>Member of {{ membership|length }} treaties</p>
	</div>
    <div class="row">
        <!-- NAVIGATION BOX -->
        <div class="span3 hidden-phone scrollspy affix-menu" data-offset="155">
            <div class="well">
                <h4>Contents</h4>
                <ul class="nav nav-list">
                    <li><a href="#summary">Summary</a></li>
                    {% set sites = sites_whc|length + sites_ramsar|length %}
                    {% if sites %}
                    <li><a href="#sites">Sites<span class="qty">{{ sites }}</span></a></li>
                    {% endif %}
                    {% if nfps|length %}
                    <li><a href="#focal-points">Focal Points<span class="qty">{{ nfp|length }}</span></a></li>
                    {% endif %}
                    {% if membership|length %}
                    <li><a href="#membership">Membership<span class="qty">{{ membership|length }}</span></a></li>
                    {% endif %}
                    {% if national_plans|length %}
                    <li><a href="#national_plans">National Plans<span class="qty">{{ national_plans|length }}</span></a></li>
                    {% endif %}
                    {% if national_reports|length %}
                    <li><a href="#national_reports">National Reports<span class="qty">{{ national_reports|length }}</span></a></li>
                    {% endif %}
                    <li><a href="#ecolex_literature">Ecolex Literature</a></li>
                </ul>
            </div>
            <!-- SELECT country -->
            <select onchange="window.location = jQuery(this).val()" class="input-block-level"
                    title="Use this select to move to another country">
                <option>View another country</option>
                {% for row in countries %}
                <option value="{{ i3_url('country', row) }}">{{ row.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- #content -->
        <div class="span9 pull-right" id="content">
            <!-- SUMMARY -->
            <div class="section" id="summary">
            	<div class="clearfix">
                	<h2 class="pull-left" style="border:0; margin:0;">Summary</h2>
            		<div class="info small pull-right" style="line-height:24px;">Data provided by the UN.</div>
            	</div>
                <div class="un_data environmental_indicators" id="testing">
                	{{ un_environmental_indicators|raw }}
            	</div>
            </div>

            <!-- SITES -->
            {% if sites %}
            <div class="section tabbable" id="sites">
                <h2>Sites</h2>
                <ul class="nav nav-tabs">
                    <li class=""><a href="#sites-list" data-toggle="tab">List</a></li>
                    <li class=""><a href="#sites-map" data-toggle="tab">Map</a></li>
                </ul>
                <div class="tab-content">
                    <!-- SITES-LIST -->
                    <div class="tab-pane" id="sites-list">
                    	<div class="twocol">
                    		<h3>WHC Sites</h3>
                    		<ul>
                    		{% for row in sites_whc %}
	                        	<li><a href="{{ row.url }}">{{ row.name }}</a></li>
	                        {% endfor %}
                    		</ul>
                    	</div>
                    	<div class="twocol">
                    		<h3>Ramsar Sites</h3>
                    		<ul>
                    		{% for row in sites_ramsar %}
	                        	<li><a href="{{ row.url }}">{{ row.name }}</a></li>
	                        {% endfor %}
                    	</div>
                    </div>
                    <!-- SITES-MAP -->
                    <div class="tab-pane" id="sites-map">
                        ...
                    </div>
                </div>
            </div>
            {% endif %}

            {% if nfps|length > 0 %}
            <!-- FOCAL POINTS -->
            <div class="section" id="focal-points">
                <input type="hidden" id="id_country" value="{{ country.id }}" />
                <h2>Focal Points</h2>
                <div class="row">
                    <div class="span2">
                        <div class="well select clearfix">
                            <a class="visible-desktop" id="country-treaty-nfp-link" href="{{ i3_url('treaty', nfps_first) }}" title="Go to treaty page">
                                <img id="country-nfp-treaty-logo" src="{{ nfps_first.logo_medium }}" alt="Treaty logo">
                            </a>
                            <select id="treaty-nfp-country-select" class="input-block-level">
                                {% for treaty in nfps %}
                                <option value="{{ treaty.id }}" data-url="{{ i3_url('treaty', treaty) }}" data-src="{{ treaty.logo_medium }}">
                                    {{ treaty.short_title }}
                                </option>
                                {% endfor %}
                            </select>
                            <p class="hidden-phone"><span id="treaty-nfp-country-count">{{ nfps_first.focal_points|length }}</span> focal points</p>
                        </div>
                    </div>
                    <ul id="focal-point-list" class="focal-point-list span7">
                        {% for nfp in nfps_first.focal_points %}
                        <li class="focal-point">
                            {{ nfp.html|raw }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <!-- MEMBERS -->
            {% if membership|length > 0 %}
            <div class="section tabbable" id="membership">
                <h2>Membership</h2>
                <ul class="nav nav-tabs" id="members-tabs">
                    <li class=""><a href="#membership-list" data-toggle="tab">List</a></li>
                    <li class=""><a href="#membership-map" data-toggle="tab">Map</a></li>
                </ul>
                <div class="tab-content">
                    <!-- MEMBERS-LIST -->
                    <div class="tab-pane active" id="membership-list">
                        <table class="table table-striped">
                            <caption>{{ country.name }} is party to the following treaties</caption>
                            <thead>
                            <tr>
                                <th>Treaty</th>
                                <th>Entry</th>
                                <th>Status</th>
                                <th class="hidden-phone">Instrument</th>
                                <th class="hidden-phone">Declaration</th>
                                <th class="hidden-phone">Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in membership %}
                            <tr>
                                <td><a href="{{ row.url }}">{{ row.short_title }}</a></td>
                                <td>{{ row.year }}</td>
                                <td>{{ row.status }}</td>
                                <td class="hidden-phone">{{ row.legal_instrument_name }}</td>
                                <td class="hidden-phone">{{ row.declarations }}</td>
                                <td class="hidden-phone">{{ row.notes }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- MEMBERS-MAP -->
                    <div class="tab-pane" id="membership-map">
                        ...
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- National Plans -->
            {% if national_plans|length %}
            <div class="section" id="national_plans">
            	<h2>National Plans</h2>
            	 <ul id="accordion-np" class="accordion np-list">
                	{% for key, year in national_plans %}
                    <li class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle {% if loop.index0 >0 %} collapsed {% endif %}" data-toggle="collapse" href="#collapse-np-{{ key }}">
                                <i class="icon-caret-down"></i> {{ key }}
                            </a>
                        </div>
                        <div id="collapse-np-{{ key }}" class="accordion-body {% if loop.index0 >0 %} collapse {% endif %}">
                            <ul class="unstyled">
                                {% for row in year %}
                                <li class="clearfix">
                                    <a class="logo logo-left" href="{{ i3_url('treaty', row.treaty) }}" title="Go to treaty page">
                                        <img src="{{ row.treaty.logo_medium }}" alt="Treaty Logo"/>
                                    </a>
                                    <h3>{{ row.title }}</h3>
                                    <div class="search-result-info small hidden-phone">
                                        <a href="{{ i3_url('treaty', row.treaty) }}">{{ row.treaty.short_title }}</a>&ensp;|&ensp;
                                        {% if row.document_url %}
                                        <a href="{{ row.document_url }}" target="_blank"><i class="icon-file"></i> Document</a>&ensp;|&ensp;
                                        {% endif %}
                                        <span class="nobreak">{{ row.submission }}</span>
                                    </div>
                                </li>
                                {% endfor %}
                    	   </ul>
                        </div>
                    </li>
        		{% endfor %}
        		</ul>
            </div>
            {% endif %}

            <!-- National Reports -->
            {% if national_reports|length %}
            <div class="section" id="national_reports">
            	<h2>National Reports</h2>
            	<ul id="accordion-nr" class="accordion np-list">
                    {% for key, year in national_reports %}
                    <li class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle {% if loop.index0 >0 %} collapsed {% endif %}" data-toggle="collapse" href="#collapse-nr-{{ key }}">
                                <i class="icon-caret-down"></i> {{ key }}
                            </a>
                        </div>
                        <div id="collapse-nr-{{ key }}" class="accordion-body {% if loop.index0 >0 %} collapse {% endif %}">
                            <ul class="unstyled">
                                {% for row in year %}
                                <li class="clearfix">
                                <a class="logo logo-left" href="{{ i3_url('treaty', row.treaty) }}" title="Go to treaty page">
                                    <img src="{{ row.treaty.logo_medium }}" alt="Treaty Logo"/>
                                </a>
                                <h3>{{ row.title }}</h3>
                                <div class="search-result-info small hidden-phone">
                                    <a href="{{ i3_url('treaty', row.treaty) }}">{{ row.treaty.short_title }}</a>&ensp;|&ensp;
                                    {% if row.document_url %}
                                    <a href="{{ row.document_url }}" target="_blank"><i class="icon-file"></i> Document</a>&ensp;|&ensp;
                                    {% endif %}
                                    <span class="nobreak">{{ row.submission }}</span>
                                </div>
                            </li>
                            {% endfor %}
                           </ul>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <!-- Ecolex literature -->
            <div class="section tabbable" id="ecolex_literature">
                <h2>Ecolex literature</h2>
                <ul class="nav nav-tabs">
                    <li class=""><a href="#ecolex-legislation" data-toggle="tab">Legislation</a></li>
                    <li class=""><a href="#ecolex-case" data-toggle="tab">Case Law</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Legislation -->
                    <div class="tab-pane" id="ecolex-legislation">
                        {% if ecolex_legislation|length > 0 %}
                        <div class="alert alert-info">
                            <i class="icon-info-sign"></i>
                            The Ecolex literature is available offsite.
                            <a href="{{ ecolex_legislation_url }}" title="" class="nobreak" target="_blank">
                                Read more on Ecolex Legislation for {{ country.name }}
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        {{ ecolex_legislation|raw }}
                        <div class="alert alert-info">
                            <i class="icon-info-sign"></i>
                            The Ecolex literature is available offsite.
                            <a href="{{ ecolex_legislation_url }}" title="" class="nobreak" target="_blank">
                                Read more on Ecolex Legsilation for {{ country.name }}
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        {% else %}
                        <div class="alert alert-info">
                            <i class="icon-info-sign"></i>
                            We couldn't find any Legislation about {{ country.name }}.
                            <a href="{{ ecolex_legislation_url }}" title="" class="nobreak" target="_blank">
                                You can check Ecolex site
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        {% endif %}

                    </div>
                    <!-- CASE Law -->
                    <div class="tab-pane" id="ecolex-case">
                        {% if ecolex_case|length > 0 %}
                        <div class="alert alert-info">
                            <i class="icon-info-sign"></i>
                            The Ecolex literature is available offsite.
                            <a href="{{ ecolex_case_url }}" title="" class="nobreak" target="_blank">
                                Read more on Ecolex Case Law for {{ country.name }}
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        {{ ecolex_case|raw }}
                        <div class="alert alert-info">
                            <i class="icon-info-sign"></i>
                            The Ecolex literature is available offsite.
                            <a href="{{ ecolex_case_url }}" title="" class="nobreak" target="_blank">
                                Read more on Ecolex Case Law for {{ country.name }}
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        {% else %}
                        <div class="alert alert-info">
                            <i class="icon-info-sign"></i>
                            We couldn't find any Case Laws about {{ country.name }}.
                            <a href="{{ ecolex_case_url }}" title="" class="nobreak" target="_blank">
                                You can check Ecolex site
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- /#content -->
    </div>
</div><!-- /container -->
{{ get_footer() }}