<!DOCTYPE html>
<html {{ language_attributes() }}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ bloginfo('charset') }}" />
    <title>{{ html_page_title | raw }}</title>
    {{ wp_head() }}
</head>
<body {{ body_tag_class|raw }} >
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse.menu"><i class="icon-reorder"></i></a>
            <a class="brand" href="{{ url_home }}"><img src="{{ i3_url('image', 'informea_logo.png') }}" alt="InforMEA logo"></a>
            <div class="nav-collapse menu collapse">
                <form class="navbar-search pull-right">
                    <input id="search" type="text" class="search-query" autocomplete="off" data-provide="typeahead" placeholder="Explore InforMEA">
                    <button type="submit" class="btn hidden-phone hidden-tablet"><i class="icon-search"></i></button>
                    <ul class="typeahead dropdown-menu">
                        <li class="typeahead-keyword">
                            <a href="">Search InforMEA for: <b><span id='search-term'></span></b></a>
                        </li>
                        <li class="typeahead-category treaties-category">
                            Treaties
                        </li>
                        <li class="typeahead-category countries-category">
                            Countries
                        </li>
                        <li class="typeahead-category terms-category">
                            Terms
                        </li>
                    </ul>
                </form>
                <ul class="nav pull-left">
                    <li class="sub-menu"><a href="{{ i3_url('page', 'treaties') }}">Treaties<span class="caret"></span></a>
                        <div class="sub-menu">
                            <div class="container">
                                <div class="row">
                                    <ul class="nav-list span3">
                                        <li class="nav-header">Biological Diversity</li>
                                        <li><a href="{{ i3_url('treaty', 'cartagena') }}">Cartagena Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'cbd') }}">CBD</a></li>
                                        <li><a href="{{ i3_url('treaty', 'cites') }}">CITES</a></li>
                                        <li><a href="{{ i3_url('treaty', 'cms') }}">CMS</a></li>
                                        <li><a href="{{ i3_url('treaty', 'nagoya') }}">Nagoya Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'plant-treaty') }}">Plant Treaty</a></li>
                                        <li><a href="{{ i3_url('treaty', 'ramsar') }}">Ramsar</a></li>
                                        <li><a href="{{ i3_url('treaty', 'whc') }}">WHC</a></li>
                                    </ul>
                                    <ul class="nav-list span3">
                                        <li class="nav-header">Chemicals / Waste</li>
                                        <li><a href="{{ i3_url('treaty', 'basel') }}">Basel</a></li>
                                        <li><a href="{{ i3_url('treaty', 'rotterdam') }}">Rotterdam</a></li>
                                        <li><a href="{{ i3_url('treaty', 'stockholm') }}">Stockholm</a></li>
                                        <li class="nav-header">Climate / Atmosphere</li>
                                        <li><a href="{{ i3_url('treaty', 'unccd') }}">UNCCD</a></li>
                                        <li><a href="{{ i3_url('treaty', 'unfccc') }}">UNFCCC</a></li>
                                        <li><a href="{{ i3_url('treaty', 'kyoto') }}">Kyoto Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'montreal') }}">Montreal Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'vienna') }}">Vienna</a></li>
                                    </ul>
                                    <ul class="nav-list span6">
                                        <li class="nav-header">Regional Treaties</li>
                                        <li><a href="{{ i3_url('treaty', 'aarhus') }}">Aarhus Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'abidjan') }}">Abidjan Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'aewa') }}">AEWA</a></li>
                                        <li><a href="{{ i3_url('treaty', 'antigua') }}">Antigua Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'apia') }}">Apia Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'barcelona') }}">Barcelona</a></li>
                                        <li><a href="{{ i3_url('treaty', 'dumping') }}">Barcelona Dumping Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'bamako') }}">Bamako Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'cartagena-conv') }}">Cartagena Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'espoo') }}">Espoo Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'hazardous') }}">Hazardous Wastes Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'industrialaccidents') }}">Industrial Accidents Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'jeddah') }}">Jeddah Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'pollutantrelease') }}">Kiev Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'kuwait') }}">Kuwait Regional Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'lrtp') }}">Long-Range Transboundary Air Pollution</a></li>
                                        <li><a href="{{ i3_url('treaty', 'lusakaagreement') }}">Lusaka Agreement</a></li>
                                        <li><a href="{{ i3_url('treaty', 'nairobi') }}">Nairobi Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'noumea') }}">Noumea Convention</a></li>
                                        <li><a href="{{ i3_url('treaty', 'land-based') }}">Land-Based Sources Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'offshore') }}">Offshore Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'preventionemergency') }}">Prevention and Emergency Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'barc-spa') }}">Specially Protected Areas Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'kyivsea') }}">The Kyiv Protocol</a></li>
                                        <li><a href="{{ i3_url('treaty', 'protocolwaterhealth') }}">Protocol on Water and Health</a></li>
                                        <li><a href="{{ i3_url('treaty', 'waterconvention') }}">Water Convention</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="{{ i3_url('page', 'countries') }}">Countries</a></li>
                    <li><a href="{{ i3_url('page', 'glossary') }}">Glossary</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
