{{ get_header() }}
<!-- HERO -->
<div class="hero-unit">
    <div class="container">
        <div class="logo-description">
            <img src="{{ i3_url('image', 'logo_description.png') }}" alt="United Nations Information Portal on Multilateral Environmental Agreements">
        </div>
        <div class="row">
            <!-- CAROUSEL -->
            <div class="span5 offset1 pull-right">
                <div id="homepage-carousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">                
                    {% for post in news_posts %}
                        <div class="item {% if loop.first %} active {% endif %}">
                            <p class="item-title">Latest News</p>
                                <div class="news">
                                    <a href="{{ i3_url('treaty', post.treaty) }}" class="logo logo-left">
                                        <img src="{{ post.treaty.logo_medium }}" alt="{{ post.treaty.short_title }}" title="{{ post.treaty.short_title }}" />
                                    </a>
                                    <p class="date">{{ post.post_date|date('d M, Y') }}</p>
                                    <p><a title="{{ post.post_title }}" href="{{ post.url }}">{{ subwords(post.post_title, 15) }}</a></p>
                                    <p>
                                        {{ subwords( post.post_content, 30)|raw }}
                                    </p>
                                </div>
                        </div>
                    {% endfor %}
                    {% for meeting in upcoming_meetings %}
                        <div class="item">
                            <p class="item-title">Upcoming Meetings</p>
                            <div class="news">
                                <a href="{{ i3_url('treaty', meeting.treatyObj) }}" class="logo logo-left">
                                    <img src="{{ meeting.treatyObj.logo_medium }}" alt="{{ meeting.treatyObj.short_title }}" title="{{ meeting.treatyObj.short_title }}" />
                                </a>
                                <p class="date">
                                {% if meeting.start|date("m") == meeting.end|date("m") %}
                                    {{ meeting.start|date('d') }} - {{ meeting.end|date('d') }} {{ meeting.start|date('M, Y') }}
                                {% else %}    
                                    {{ meeting.start|date('d M') }} - {{ meeting.end|date('d M, Y') }}                                     
                                {% endif %}  
                                 | {{ meeting.location }}  
                                </p>
                                <p><a title="{{ meeting.title }}" href="{{ meeting.url }}">{{ subwords(meeting.title, 15) }}</a></p>
                                <p>
                                        {{ subwords( meeting.description, 30)|raw }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#homepage-carousel" data-slide="prev">
                        <i class="icon-angle-left"> </i>
                    </a>
                    <a class="carousel-control right" href="#homepage-carousel" data-slide="next">
                        <i class="icon-angle-right"> </i>
                    </a>
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        {% for i in 0..upcoming_meetings|length + news_posts|length -1 %}
                            <li data-target="#homepage-carousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %} active {% endif %}"></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="span6 what-is-informea pull-left">
                <p>InforMEA harvests COP decisions, news, meetings, membership, national focal points and reports from MEAs. Information is organised by terms from MEA COP agendas.</p>
                <p>InforMEA is a project of the MEA Information and Knowledge Management (IKM) Initiative with the support from the United Nations Environment Programme (UNEP).</p>
                <!-- <ul class="logo">

                    <a class="unep" target="_blank" href="http://www.unep.org/" title="Visit United Nations Environment Programme website">
                    <div></div><p>UNEP</p>
                    </a>
                </ul> -->
                <div>
                    <a href="/about">Learn more about InforMEA <i class="icon-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="homepage" class="container">
    <!-- FEATURES -->
    <h2>InforMEA Features</h2>
    <div class="row" style="position: relative;">
        <div class="feature-glossary span4">
            <h1>Glossary</h1>
            <div class="feature-image">
                <img src="{{ i3_url('image', 'f_glossary.gif') }}">
            </div>
            <p>Find the definition of any term related to MEAs as well as all of it's occurences on this website.</p>
            <p><a href="/terms">Start searching for definitions</a></p>
        </div>
        <div class="feature-treaties span4">
            <div class="well">
                <h1>Treaties</h1>
                <div class="pitch">
                    <p>Read the Complete Text<br/> on any Treaty</p>
                    <hr/>
                    <p>See Decisions/Resolutions<br/> with details</p>
                    <hr/>
                    <p>Study Map Coverage<br/> and Membership</p>
                    <a href="/treaties" class="btn btn-primary input-block-level">Browse Treaties</a>
                </div>
            </div>
        </div>
        <div class="feature-countries span4">
            <h1>Countries</h1>
            <div class="feature-image">
                <img src="{{ i3_url('image', 'f_countries.gif') }}">
                <select onchange="window.location=this.value;">
                    <option value="#">Select a country</option>
                {% for country in countries %}
                    <option value="{{ i3_url('country', country) }}">{{ country.name }}</option>
                {% endfor %}
                </select>
            </div>
            <!--<p>Text to be inserted ... <br/> Membership, Focal Points, National Plans, etc.</p>
            <p><a href="#">See this country's profile</a></p> -->
        </div>
    </div>
</div>
{{ get_footer() }}