<h3>{{ nfp.first_name }} {{ nfp.last_name }}</h3>
{% if nfp.position %}
<p class="ocupation">{{ nfp.position }}</p>
{% endif %}
<dl class="dl-horizontal">
    {% if nfp.department %}
    <dt>Department</dt><dd>{{ nfp.department }}</dd>
    {% endif %}
    {% if nfp.institution %}
    <dt>Institution</dt><dd>{{ nfp.institution }}</dd>
    {% endif %}
    {% if nfp.address %}
    <dt>Address</dt><dd>{{ nfp.address }}</dd>
    {% endif %}
    {% if nfp.telephone %}
        <dt>Telephone</dt><dd>{{ telephone }}</dd>
    {% endif %}
    {% if nfp.fax %}
        <dt>Fax</dt><dd>{{ nfp.fax }}</dd>
    {% endif %}
</dl>
{% if show_actions %}
<div class="focal-point-actions">
    {% if email_link %}
    <a class="btn btn-inline" title="Click to see the e-mail address"
       onclick="popup_center('{{ email_link }}', 'Contact National Focal Point', 500, 400); return false;"
       href="{{ email_link }}"><i class="icon-envelope-alt"></i> View e-mail</a>&ensp;|&ensp;
    {% endif %}
    {% if vcard_link %}
    <a class="btn btn-inline informea-tooltip" href="{{ vcard_link }}"
       data-toggle="tooltip" data-placement="right"
       title="Download information in vCard format">Download vCard</a>
    {% endif %}
</div>
{% endif %}