{{ get_header() }}
<div class="container">
    {{ informea_the_breadcrumb() }}
    {# <h1>{{ the_title() }}</h1> #}
    <div class="row">
    	<div class="span4 hidden-phone">
            <ul class="tree-view">
    			<li class="active">
                    <button class="" data-toggle="collapse" data-target="#substantive">
                        <i class="icon-caret-down"></i>
                    </button>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#substantive">
                        Substantive terms
                    </a>
                    {% import "term_children.twig" as macros %}
                    <ul class="collapse in" id="substantive">
                        {{ macros.term_children(substantive_terms) }}
                    </ul>
                </li>
                <li class="active">
                    <button class="" data-toggle="collapse" data-target="#generic">
                        <i class="icon-caret-down"></i>
                    </button>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#generic">
                        Generic terms
                    </a>
                    {% import "term_children.twig" as macros %}
                    <ul class="collapse in" id="generic">
                        {{ macros.term_children(generic_terms) }}
                    </ul>
                </li>
    		</ul>
    	</div>
    	<div class="span8">
    		<h1>{{ the_title() }}</h1>
            <div class="section">
    			<p>InforMEA Glossary is a collection of terms gathered from
    			    {% for source in sources %}
                        <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>{% if loop.last == false %},&nbsp;{% endif %}
                    {% endfor %}
                </p>
    			<div class="alert alert-warning">
    				Please note that Treaty portions and decisions are manually tagged and some omissions may occur.
    			</div>
                <p>To ensure comprehensive results, combine terms from the analytical index with terms used in a free-text search which can be entered in the search fields found in the Explorer.</p>
                <p><a href="/terms/list-az" class="btn">See the A-Z listing of terms</a></p>
            </div>
            <div class="section">
                <h2>Sources</h2>
                <p>
                    {% for source in sources %}
                        <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>{% if loop.last == false %},&nbsp;{% endif %}
                    {% endfor %}
                </p>
            </div>
    		<div class="section">
    			<h2>Most popular terms</h2>
                <div class="row">
                    <div class="span4">
                        <ul class="unstyled">
                        {% for term in popular_terms %}
                            <li><a href="{{ i3_url('term', term) }}">{{ term.term }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="span4">
                        <h3>Substantive terms</h2>
                        <ul class="unstyled">
                            {% for term in popular_substantive %}
                            <li><a href="{{ i3_url('term', term) }}">{{ term.term }}</a></li>
                            {% endfor %}
                        </ul>
                        <h3>Generic terms</h2>
                        <ul class="unstyled">
                            {% for term in popular_generic %}
                            <li><a href="{{ i3_url('term', term) }}">{{ term.term }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div><!-- /container -->
{{ get_footer() }}