{{ get_header() }}
<div class="container">
    {{ informea_the_breadcrumb() }}
    <div class="span4 hidden-phone">
            <ul class="tree-view">
                <li>
                    <button class="" data-toggle="collapse" data-target="#substantive">
                        <i class="icon-caret-down"></i>
                    </button>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#substantive">
                        Substantive terms
                    </a>
                    {% import "term_children.twig" as macros %}
                    <ul class="collapse in" id="substantive">
                        {{ macros.term_children(substantive_terms) }}
                    </ul>
                </li>
                <li>
                    <button class="" data-toggle="collapse" data-target="#generic">
                        <i class="icon-caret-down"></i>
                    </button>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#generic">
                        Generic terms
                    </a>
                    {% import "term_children.twig" as macros %}
                    <ul class="collapse in" id="generic">
                        {{ macros.term_children(generic_terms) }}
                    </ul>
                </li>
            </ul>
        </div>
            <!-- TERM DEFINITION -->
            <div id="term-definition" class="span7">
                <h1>{{ term.term }}</h1>
                <div class="alert alert-info visible-phone">
                            <i class="icon-info-sign"></i> This term was found in the InforMEA Glossary.
                            <a data-toggle="collapse" data-target="#term-definition">Show definition?</a>
                </div>
                <div class="row row-snap">
                    {% if term.description|length > 0 %}
                    <p>{{ term.description }}</p>
                    {% else %}
                    <div class="alert alert-warning">
                        Description is not available for this term.
                    </div>
                    {% endif %}
                </div>
                <div class="row-snap">
                    <p>
                        <a href="{{ term.geg_tools_url }}" target="_blank">
                            <strong>Environmental Goal</strong>
                        </a>&ensp;<span class="info"><i class="icon-external-link"></i> Visit GEG Website</span>
                    </p>
                    <dl class="dl-horizontal">
                        <dt>Broader</dt>
                        <dd>
                        {% for broader in term.broader %}
                            <a class="btn btn-inline" href="{{ i3_url('glossary-term', broader) }}" class="tag">
                                {{ broader.term }}
                            </a>{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        </dd>
                        <dt>Related</dt>
                        <dd>
                        {% for related in term.related %}
                            <a class="btn btn-inline" href="{{ i3_url('glossary-term', related) }}" class="tag">
                                {{ related.term }}
                            </a>{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        </dd>
                        <dt>Narrower</dt>
                        <dd>
                        {% for narrower in term.narrower %}
                            <a class="btn btn-inline" href="{{ i3_url('glossary-term', narrower) }}" class="tag">
                                {{ narrower.term }}
                            </a>{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        </dd>
                    </dl>
                </div>
            </div>
</div><!-- /container -->
{{ get_footer() }}