{% if not modal %}
    {{ get_header() }}
<div class="container">
    {{ informea_the_breadcrumb() }}
{% endif %}
    <div class="row">
        <div class="span3 high-content vertical-scrollbar-ready">
            <ul class="nav nav-list hidden-phone">
                {% for row in treaty.articles %}
                <li><a href="#article-h1-{{ row.id }}">{{ row.title_formatted }}</a></li>
                {% endfor %}
            </ul>
            <select id="treaty-text-select" class="visible-phone input-block-level">
                <option>Jump to Article</option>
                {% for row in treaty.articles %}
                <option value="#article-h1-{{ row.id }}">{{ row.title_formatted }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span9 high-content vertical-scrollbar-ready">
            <div class="treaty-text tagged-content">
            {% for article in treaty.articles %}
                <h1 id="article-h1-{{ article.id }}">{{ article.title_formatted }}</h1>
                {% if article.paragraphs %}
                {% for p in article.paragraphs %}
                <div class="paragraph content">
                    <p id="paragraph-{{ p.id }}">{{ p.content|raw }}</p>
                    {% if p.tags %}
                    {% include 'tagged-terms.twig' with { 'tags': p.tags } %}
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                <div class="article tagged-content content">
                    {% if article.tags %}
                    {% include 'tagged-terms.twig' with { 'tags': article.tags } %}
                    {% endif %}
                    {{ article.content|raw }}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% if not modal %}
</div><!-- /container -->
    {{ get_footer() }}
{% endif %}