{{ get_header() }}
<div class="container">
    {{ informea_the_breadcrumb() }}
    <h1>{{ the_title() }}</h1>
    <table id="treaties-table" class="table">
        <thead>
        <tr>
            <th colspan="2">Showing <span id="treaties-count"> {{ count }} </span> out of {{ count_total }} treaties</th>
            <th class="hidden-phone">
                <div class="dropdown-container">
                    <div class="dropdown">
                        <span class="dropdown-value placeholder" data-default="All Topics">All Topics</span>
                        <button class="btn btn-select" data-toggle="dropdown">
                            <i class="icon-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for row in topics %}
                            <li><a tabindex="-1" href="#{{ row }}">{{ row }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th class="hidden-phone">
                <div class="dropdown-container">
                    <div class="dropdown">
                        <span class="dropdown-value placeholder" data-default="Coverage">Coverage</span>
                        <button class="btn btn-select" data-toggle="dropdown">
                            <i class="icon-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for row in regions %}
                            <li><a tabindex="-1" href="#{{ row.name }}">{{ row.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </th>
            <th class="hidden-phone">
                <span>Year</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for row in treaties %}
        <tr onclick="window.location='{{ i3_url('treaty', row) }}'">
            <td><img src="{{ row.logo_medium }}" alt="{{ row.short_title }} logo"></td>
            <td class="treaty-title">
                <h2>
                    <a href="{{ i3_url('treaty', row) }}">{{ row.short_title }}</a>
                </h2>
            </td>
            <td class="hidden-phone">{{ row.topic|raw }}</td>
            <td class="hidden-phone">{{ row.coverage }}</td>
            <td class="hidden-phone">{{ row.year }}</td>
        </tr>
        {% for child in row.childs %}
        <tr onclick="window.location='{{ i3_url('treaty', child) }}'" class="child-row">
            <td><img src="{{ child.logo_medium }}" alt="{{ child.short_title }} logo"></td>
            <td class="treaty-title">
                <h2>
                    <a href="{{ i3_url('treaty', child) }}">{{ child.short_title }}</a>
                </h2>
            </td>
            <td class="hidden-phone">{{ child.topic|raw }}</td>
            <td class="hidden-phone">{{ child.coverage }}</td>
            <td class="hidden-phone">{{ child.year }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div><!-- /container -->
{{ get_footer() }}