{% if not modal %}{{ get_header() }}{% endif %}
<div class="row">
    <div class="span3">
        <ul class="nav nav-list hidden-phone">
            {% for row in treaty.articles %}
            <li><a href="#article-h1-{{ row.id }}">{{ row.title_formatted }}</a></li>
            {% endfor %}
        </ul>
        <select id="treaty-text-select" class="visible-phone input-block-level">
            <option>Jump to Article</option>
            {% for row in treaty.articles %}
            <option value="#article-h1-{{ row.id }}">{{ row.title_formatted }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="span9" id="treaty-text-container">
        <div class="treaty-text">
            {% for article in treaty.articles %}
            <h1 id="article-h1-{{ article.id }}">{{ article.title_formatted }}</h1>
            {% if article.paragraphs %}
                {% for p in article.paragraphs %}
                <div class="paragraph">
                    <p id="paragraph-{{ p.id }}">{{ p.content|raw }}</p>
                    {% if p.tags %}
                    <div class="paragraph-tags">
                        <strong><i class="icon-tags"></i>Tagged Terms: </strong>&ensp;
                        {% for t in p.tags %}
                        <a href="{{ i3_url('glossary_term', t) }}">{{ t.term }}</a>{{ loop.last ? '' : ', ' }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <p id="article-{{ article.id }}">
                    {{ article.content|raw }}
                </p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% if not modal %}{{ get_footer() }}{% endif %}